<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunjian.ak.gateway.entity.apis.TargetEntityMapper">
    <!-- 数据库中表名为:Targets的列名 -->
    <sql id="column_sql">
        targets.id,
        targets.target,
        targets.weight
    </sql>

    <!-- 数据库中表名为:targets的非空where条件 -->
    <sql id="whereClause_sql">
        <if test="id != null">and targets.id::text = #{id}</if>
        <if test="target != null">and targets.target = #{target}</if>
        <if test="weight != null">and targets.weight = #{weight}</if>
    </sql>

    <!-- Target的resultMap,column是给数据库列起的别名,它对应property类的属性 -->
    <resultMap id="result_Target_Map" type="com.yunjian.ak.gateway.entity.apis.TargetEntity">
        <id column="id" property="id" />
        <result column="target" property="target" />
        <result column="weight" property="weight" />
    </resultMap>

    <!--获得类名为:Target对应的数据库表满足条件的数据总行数 -->
    <select id="count" parameterType="com.yunjian.ak.gateway.entity.apis.TargetEntity" resultType="int">
        select count(*) from targets
        <where>
            <include refid="whereClause_sql"/>
        </where>
    </select>

    <!-- 获得一个Target对象,以参数Target对象中不为空的属性作为条件进行查询 -->
    <select id="select" parameterType="com.yunjian.ak.gateway.entity.apis.TargetEntity" resultMap="result_Target_Map">
        select
        <include refid="column_sql"/>
        from targets
        <where>
            <include refid="whereClause_sql"/>
        </where>
    </select>

    <!-- 查询数据库中表名为:targets的所有数据 -->
    <select id="selectAll" resultMap="result_Target_Map">
        select
        <include refid="column_sql"/>
        from targets
    </select>

    <!-- 获得一个Target对象,以参数Target对象中不为空的属性作为条件进行分页查询 -->
    <select id="selectByPage" parameterType="com.yunjian.ak.gateway.entity.apis.TargetEntity" resultMap="result_Target_Map">
        select
        <include refid="column_sql"/>
        from targets
        <where>
            <include refid="whereClause_sql"/>
        </where>
    </select>

</mapper>
