/************************************
    ngx-quill富文本编辑器样式
*************************************/
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
@import './_quill-font.styl';

.ql-editor {
    white-space: normal !important;
}
