<div class="clearFix breadcrumb-wrapper shadow">
    <div class="breadcrumb fl">
        <nz-breadcrumb>
            <span class="font">当前位置：</span>
            <nz-breadcrumb-item>
                <span class="font">接口管理</span>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                APIs管理
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div class="filter-tags fl">
        <app-tag-close
            mode="groupSearch"
            [dynamicKey]="selfQueryParams?.dynamicKey"
            [keyword]="selfQueryParams?.keyword"
            [data]="dynamicKeys"
            (tagClose)="onKeywordTagClose()">
        </app-tag-close>
    </div>
    <div class="update-times fr">
        <button (click)="openWin(null)" nzType="primary" nz-button><span>服务导入</span></button>
    </div>
</div>

<div class="list-page-wrapper" style="padding-bottom: 0;">
    <nz-layout style="background-color: transparent; margin-top: 10px">
        <nz-sider [nzWidth]="fold ? '30px' : '273px'"
                  style="border-right: 1px solid #e3e3e3; background-color: transparent; margin-right: 10px;">
            <app-apis-manager-sider
                #sider
                [initServerId]="1"
                [initMarketId]="2"
                [initCampaignId]="3"
                [initGroupId]="4"
                (changeFold)="changeFold($event)"
            ></app-apis-manager-sider>
        </nz-sider>
        <!-- *****************右侧tab***************** -->
        <nz-layout>
            <nz-content class="card-container">
                <nz-tabset [nzTabBarStyle]="{'padding': '0'}"
                           [nzTabPosition]="'top'"
                           [nzType]="'card'"
                           nzSelectedIndex="0">
                    <nz-tab nzTitle="服务列表">
                        <!--<app-apis-list-->
                            <!--[portfolioId$]="sider.menuId$"-->
                            <!--[chooseMenu]="sider.chooseMenu"-->
                            <!--[table]="true"-->
                        <!--&gt;</app-apis-list>-->
                        <app-apis-list></app-apis-list>
                    </nz-tab>
                    <nz-tab nzTitle="当前应用配置">
                        <div></div>
                    </nz-tab>
                </nz-tabset>
            </nz-content>
        </nz-layout>
    </nz-layout>
</div>
