<div class="clearFix breadcrumb-wrapper shadow">
    <div class="breadcrumb fl">
        <nz-breadcrumb>
            <span class="font">当前位置：</span>
            <nz-breadcrumb-item>
                <span class="font">APIs管理</span>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                APIs服务
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div class="filter-tags fl">
    </div>
    <div class="update-times fr">
        <button (click)="openWin()" nzType="primary" nz-button><span>服务导入</span></button>
    </div>
</div>

<div class="list-page-wrapper" style="padding-bottom: 0;">
    <nz-layout style="background-color: transparent; margin-top: 10px">
        <nz-sider [nzWidth]="fold ? '30px' : '273px'" style="border-right: 1px solid #e3e3e3; background-color: transparent; margin-right: 10px;">
            <app-apis-manager-sider (changeFold)="changeFold($event)" (dataChange)="dataChange($event)" (menuChange)="menuChange($event)"></app-apis-manager-sider>
        </nz-sider>
        <!-- *****************右侧tab***************** -->
        <nz-layout>
            <nz-content class="card-container">
                <nz-tabset [nzTabBarStyle]="{'padding': '0'}"
                           nzTabPosition="top"
                           nzType="card"
                           nzSelectedIndex="0">
                    <nz-tab nzTitle="服务列表">
                        <app-apis-list #apisListChild></app-apis-list>
                    </nz-tab>
                    <nz-tab nzTitle="节点信息">
                        <app-apis-portfolio-node></app-apis-portfolio-node>
                    </nz-tab>
                    <nz-tab nzTitle="应用配置">
                        <app-apis-server-setting></app-apis-server-setting>
                    </nz-tab>
                </nz-tabset>
            </nz-content>
        </nz-layout>
    </nz-layout>
</div>
<ng-template #importSteps>
    <nz-steps [nzCurrent]="current">
        <nz-step nzTitle="服务录入"></nz-step>
        <nz-step nzTitle="服务预览"></nz-step>
        <nz-step nzTitle="导入完成"></nz-step>
    </nz-steps>
</ng-template>
