<div style="padding: 2px 15px;">
    <div class="tab" appCalcTableScrolly offsetTop="345" [showShadow]="false"
         (scrollY)="scrollY = $event" scrollYUnit="" [style.height]="scrollY + 152 + 'px'"
         (tabWidthChange)="tabWidthChange($event)">
        <form nz-form [formGroup]="form">
            <nz-descriptions nzTitle="基本信息" [nzColumn]="1" nzSize="default">
                <nz-descriptions-item nzTitle="上级节点">
                    <ng-container *ngIf="state===0">{{bean?._alias}}</ng-container>
                    <ng-container *ngIf="state===1">
                        <nz-form-item>
                            <nz-form-control>
                                <nz-select formControlName="pid" id="pid" nzPlaceHolder="请选择" [nzAllowClear]="false" style="width: 240px;">
                                    <nz-option nzValue="aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa" nzLabel="根节点"></nz-option>
                                    <ng-container *ngFor="let item of menus">
                                        <nz-option *ngIf="item.id !== 'bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb' && item.id!==bean?.id" [nzValue]="item.id"
                                                   [nzLabel]="item.title"></nz-option>
                                    </ng-container>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </ng-container>
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="节点名称">
                    <ng-container *ngIf="state===0">{{bean?.alias}}</ng-container>
                    <ng-container *ngIf="state===1">
                        <nz-form-item>
                            <nz-form-control>
                                <input nz-input formControlName="alias" id="alias" style="width: 240px;" />
                            </nz-form-control>
                        </nz-form-item>
                    </ng-container>
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="备&emsp;&emsp;注">
                    <ng-container *ngIf="state===0">{{bean?.memo}}</ng-container>
                    <ng-container *ngIf="state===1">
                        <nz-form-item>
                            <nz-form-control>
                                <input nz-input formControlName="memo" id="memo" style="width: 240px;" />
                            </nz-form-control>
                        </nz-form-item>
                    </ng-container>
                </nz-descriptions-item>
            </nz-descriptions>
        </form>

        <div class="list-page-pagination-wrapper clearFix"
             style="position: absolute; padding: 5px 33px 4px 24px; height: 44px; border-top: 1px solid #d9d9d9;">
            <div class="list-page-buttons fl">
            </div>
            <div class="bottom-pagination fr">
                <button *ngIf="state===0" nz-button nzType="primary" [disabled]="bean && bean.id==='bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb'" (click)="state=1">编 辑</button>
                <button *ngIf="state===1" nz-button nzType="primary" [disabled]="!form.valid" (click)="saveData()">保 存</button>&nbsp;
                <button *ngIf="state===1" nz-button nzType="default" (click)="state=0">取 消</button>
            </div>
        </div>
    </div>
</div>
